.item {
  display: flex;
  padding: 24px 0;
  border-top: 1px solid #ccc;
}
.item:last-child {
  border-bottom: 1px solid #ccc;
}
.item-left {
  display: flex;
  flex: 1;
}
.item-left .check-wrap {
  width: 100px;
}
.item-left .left-title-content {
  flex: 1;
  text-align: justify;
}
.item-right {
  position: relative;
  width: 50px;
}
.item button {
  display: none;
}
.item:hover button {
  display: block;
}

.finish {
  text-decoration: line-through;
  color: #ccc;
}
