.todo-wrap {
  width: 50vmax;
  margin: auto;
  border: 2px solid red;
}
.bottom-control {
  padding: 24px;
}
.bottom-control .radio-group {
  width: 50%;
  display: flex;
  margin: auto;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 769px) {
  html {
    font-size: 25px;
  }
}
